[2018-10-03 11:21] aliai opened #1 "import destruction from cjs modules"
Using react@16.4.0:

[code]

will result into
[code]

which is incorrect since, `react` exports itself as `default` in the module and therefore `* as _ref` will give you `_ref.default` and `_ref.default.Component` and not `_ref.Component`.

[2018-10-03 19:30] hqjs commented on #1
Thanks for a feedback! We will investigate if it is the case for other packages and older react versions as well. For now you can just import `React` and use `React.Component` or destructure it separately from import.

[2018-10-03 23:02] #1 closed

[2018-10-04 07:48] hqjs commented on #1
Please use `import { React as default, Component } from "react";` that is working now.

[2018-11-10 17:31] nunoarruda opened #3 "Not automatically reloading when modifying SCSS code"
When I modify HTML code it automatically reloads but the same does not happen with SCSS, I have to manually refresh the browser to see the changes.

My index.html:
[code]

My main.scss:
[code]

I'm on macOS Mojave 10.14.1 and Node.js v11.0.0

[2018-11-21 00:07] hqjs commented on #3
Thanks for reporting! Please try to install new version @hqjs/hq@0.0.7 that should fix the issue.

[2018-11-21 00:07] #3 closed

[2019-01-14 13:38] yuri-karadzhov opened #5 "Does not follow symlinks while being used with lerna"
Here is the error:
[code]

[2019-01-24 23:36] hqjs commented on #5
Thanks for reporting. Path resolution is fixed in master and will be available in the next release.

[2019-01-24 23:36] #5 closed

[2019-02-14 22:42] yuri-karadzhov opened #6 "Add angular 7 support"
It was working fine with Angular 5 and 6, but stops working with Angular 7.

[2019-03-13 11:07] yuri-karadzhov opened #7 "Babelrc is being ignoired"
Babelrc is being ignored.
[code]
[code]

[2019-07-21 17:03] hqjs commented on #6
Angular 5,6,7,8 are not fully supported. Services are not there yet.

[2019-07-21 17:07] hqjs opened #8 "Add Angular Services support"
Services are not supported yet

[2019-07-21 17:07] #6 closed

[2019-07-21 17:07] hqjs commented on #6
Will be fixed in  #8

[2019-07-21 22:23] hqjs commented on #8
The problem is with add types metadata plugin. Additionally there is similar issue with add decorators metadata, but it does not affect the build. The later requires @babel/types to be able to create static class property. There is an [issue](https://github.com/babel/babel/issues/10247) in babel repo

[2019-07-22 18:34] hqjs commented on #8
Fixed in version 0.0.9

[2019-07-22 18:34] #8 closed

[2019-07-22 18:34] hqjs commented on #7
Fixed in version 0.0.9

[2019-07-22 18:34] #7 closed

[2019-09-11 18:47] connorlanigan opened #9 "Invalid filename in shebang line"
When I run `hq`, I always get an error. This error varies slightly, depending on the version of `coreutils` (which contains the `env` executable).

Ubuntu 18.04.3 (LTS) (coreutils v8.28):
[code]

Ubuntu 19.04 (coreutils v8.30):
[code]

I'm using hq version 0.0.12.

This seems to be caused by the shebang in this file: https://github.com/hqjs/hq/blob/1cd20a0a688c7468e357cacc0ef9ea3089746963/index.mj

[2019-09-11 20:08] hqjs commented on #9
Hi @connorlanigan. Thank you for the report and PR. Both original and modified scripts are working on mac. I think it might be better to remove second option `--no-warnings` rather then break compatibility with older coreutils (as a result it will only complains about ESM module loader that will stop being experimental in October).

Any chances that it will work with windows as well? May it be bet

[2019-09-11 22:40] connorlanigan commented on #9
Removing the `--no-warnings` flag would not change anything without also removing `--experimental-modules`, since we can only pass a single argument _to /usr/bin/env_. We'd have to only use "node" as the single argument to /usr/bin/env in order to make it find the right executable. But without the `experimental-modules` flag, the tool wouldn't work, right?

#

Currently, I think there is no compat

[2019-09-11 22:47] hqjs commented on #9
I mean after removing shabeng it is possible to change `package.json` this way:
[code]
and it will assure compatibility for linux, mac and windows (did not work with windows for many years so not 100% sure about that)

[2019-09-11 22:52] hqjs commented on #9
seems like it is not working as `bin` requires a script or binary, not a command.

[2019-09-11 23:14] connorlanigan commented on #9
Yes, the `bin` entries are used for creating symlinks, so they can only be files. This is what my `bin/` folder looks like:
[code]

[2019-09-11 23:24] hqjs commented on #9
This script will work, but for UNIX only
[code]

[2020-03-10 13:48] zerdos commented on #9
same error for me as well

[2020-03-10 19:16] hqjs commented on #9
@zerdos Can you please specify some details about your system?
* OS
* coreutils version
* nodejs version
* hq version

[2020-03-10 20:06] zerdos commented on #9
Tried with Ubuntu bionic with node 12, node 13,
Eoan node 12,
Debian Buster node 12, node 13
Alpine node 12 , node 13,
And windows 10, node 13.

Nothing worked.

[2020-03-10 20:07] zerdos commented on #9
(Also with the official node docker images, you couln't even install the package with npm, only just yarn - but after the installation its still having this env issue)

[2020-03-10 22:17] hqjs commented on #9
On mac it used to work since node 8.9, but now they have remove `--experimental-modules` option and add `--experimental-json-module` instead. I will consider to migrate to commonjs or use starter script to avoid this kind of problems.

For now I would suggest to run it manually `node --experimental-modules --no-warnings /path/to/hq/installation/index.mjs` for node < 12.13 or `node --experimental-j

[2020-03-24 19:53] hqjs commented on #9
@zerdos please check @hqjs/hq@0.0.17 the problem should be fixed

[2020-04-14 17:42] JoyceBabu opened #12 "Proxy requests for non static files."
Is it possible to proxy requests to a backend, when the file cannot be served by hq?

For example, I would like to proxy requests for PHP files to Apache server.

[2020-04-20 16:35] hqjs commented on #12
Hi @JoyceBabu, It is not possible at the moment. I will think how it can be achieved without configuration. Please share your ideas if you have them in mind.

For now, of course, it is possible to configure nginx to proxy to either hq or php, but it is extra effort.

[2020-04-23 06:43] sesameguy opened #13 "Installation fail on both window & docker container"
`npm install -g @hqjs/hq` shows below error:
[code]
node ver: `14.0.0`
test env:
- `windows 10 pro ver 1909`
- `node:buster (docker image)`

[2020-04-23 07:15] hqjs commented on #13
Hi @sesameguy, thanks for reporting an issue. People say installation in docker might work with `yarn`, please give it a try. As for windows - I can't really test it (only have mac), but it looks like it is a problem with `node-sass`, not `hq`.

I will double check compatibility with `node@14` and check if there are any related installation problem with `node-sass`.

[2020-04-23 15:59] sesameguy commented on #13
thx, it works in docker container with `yarn`

[2020-04-23 15:59] #13 closed

[2020-05-13 10:51] JoshuaAmaju opened #14 "Installation fail"
The installation fails when trying to install `babel-plugin-minify-dead-code-elimination` on windows

![Annotation 2020-05-13 114716](https://user-images.githubusercontent.com/13833975/81803407-8ebcb000-950f-11ea-9a53-d2df332039b9.jpg)

[2020-05-14 02:25] liqi0816 commented on #14
https://www.npmjs.com/package/babel-plugin-minify-dead-code-elimination/v/0.5.1

Guess it is a temporary network issue?

[2020-05-16 18:15] hqjs commented on #14
Yeah, I can't reproduce, either. @JoshuaAmaju have you succeed with the installation?

[2020-05-27 01:34] reob-info opened #16 "Browser support"
Please, add support to GNOME WEB as default browser.
Thanks.

[2020-05-27 09:52] JoshuaAmaju commented on #14
Yes, it was just a network issue like you said. Sorry, Thanks

[2020-05-27 09:52] #14 closed

[2020-05-27 13:25] hqjs commented on #16
Can you please post user agent string for this browser? Do you know by chance since which version it supports ES modules?

To get user agent string:
1. Open your browser
2. Open browser console
3. type `navigator.userAgent`

[2020-07-02 02:30] Spanoudakhs opened #17 "Not working ."
Steps to reproduce :

Create a folder and in it execute :

[code]
Then create `./index.html` and in it add :
[code]
then execute :
[code]
and go to the localhost prompted by the terminal .
The web page shows this message :
[code]

[2020-07-03 10:40] hqjs commented on #17
Point `main` field in your `package.json` to `index.html` or remove it completely. Otherwise you will have to specify `/index.html` as a part of the URL.

[2020-07-03 10:43] hqjs commented on #12
Closing as it can be configured trough APACHE routing.

[2020-07-03 10:43] #12 closed

[2020-07-03 10:43] hqjs commented on #16
@reob-info any updates regarding this issue?

[2020-07-03 11:10] Spanoudakhs commented on #17
@hqjs I added `/index.html` at the end of the url and it works . Thx .

[2020-07-03 11:10] #17 closed

[2020-07-06 05:23] layanto opened #18 "Example for equivalent of Vite in hqjs"
Questions:
1. Does hqjs work with vue 3?
2. Is there example that is the equivalent of Vite but in hqjs?
3. Is babel (.babelrc) only used in production build (hq build) or also in development (hq)?
4. Any example on adding code coverage and unit testing that works with hqjs in development mode?

[2020-07-07 17:10] toniengelhardt opened #19 "Cannot resolve package main"
I get this error when trying to start the dev server with

[code]

Console error log:

[code]

[2020-07-08 00:28] hqjs commented on #19
Can you please provide your nodejs version and operation system name?

[2020-07-08 11:03] toniengelhardt commented on #19
Yes of course:

[code]

[2020-07-08 14:38] hqjs commented on #19
I can reproduce, seems like some problem with module loader in that specific node version.

Please try to use different nodejs version. I've check it works with `12.16.1`, `13.10.1`, `14.0.0`

[2020-07-08 20:25] toniengelhardt commented on #19
13.10.1 works thanks!

[2020-07-08 20:59] hqjs commented on #19
You are welcome! You can probably try different `13.x.x`, I tried random versions that I have installed in my system. It just that specific version (and might be some others as well) that has this problem with the loader. I'll try to investigate anyway, but chances for simple solution are low and effort might not worth to spend time on the fix.

[2020-07-08 21:20] toniengelhardt commented on #19
Totally agree! Thanks so much for the fast resolution.

[2020-07-14 09:43] Tallyb opened #20 "What is the right way to use local resolve (like typescript paths)?"
What is the suggested way to resolve paths like tsconfig options:
[code]
Adding babel plugin modules resolver with the above paths causing it to resolve to something like `node_modules/packages/bar`. I could not find a way to configure the transform paths plugin to ignore those.

[2020-07-14 21:15] hqjs commented on #20
Can you please check this plugin https://github.com/hqjs/babel-plugin-transform-name-imports it might be what you are looking for. The other option that might be helpful - `vue` way to resolve packages from the root by adding `@/` before package name e.g. `@/path/from/the/root`. If none of this solve the issue I would be glad to help with the plugin.

[2020-07-14 21:18] hqjs commented on #18
Vue 3 was experimental so released hq version does not support its new compiler yet. I have dev version that does it. Will prepare an example and release soon. It's pretty busy season, sorry for delays.

[2020-07-15 13:14] Tallyb commented on #20
Hi,
Not sure how I can add a plugin that is already included in the server. https://github.com/hqjs/hq/blob/master/compilers/js.mjs#L51

[2020-07-15 14:20] hqjs commented on #20
You can include plugin that is already there with different configuration (it needs to be installed to your project), but this plugin indeed points to `node_modules/` (I can enhance it and add `root` parameter that will be `node_modules/` by default).

Looking at `babel-plugin-module-resolver` it seems like it should work, but configuration should be as follow:
[code]
Notice `/` before package pat

[2020-07-15 14:52] hqjs commented on #20
In case it won't help - please try `"root": "/"` as well. And if it fails - ping me, I will modify `hq` plugin so it will accept `root` parameter that will solve your case.

[2020-07-15 16:04] Tallyb commented on #20
Tried root with "." "./" and "/" and they do not work.
Also I had to change the above to
[code]

[2020-07-15 16:52] hqjs commented on #20
I tried `babel-plugin-module-resolver` with minimal configuration and it works. It does not support wildcards as far as I see.

In your case it should be:
[code]

So `bar` will be resolved to `/packages/bar` and `foo` to `/packages/foo`.

I can create a separate plugin that does wildcard resolution, but it would have to be configured trough `.babelrc`.

[2020-07-15 17:05] hqjs commented on #20
@Tallyb do you want me to help with the plugin? The syntax would be:
[code]

[2020-07-15 17:49] Tallyb commented on #20
Is this a new plugin that I should install or is it included?

[2020-07-15 17:59] hqjs commented on #20
This is a plugin that I should code first and then you will have to install it.

[2020-07-15 18:04] Tallyb commented on #20
That sounds interesting. However, I am wondering if exposing the configuration for https://github.com/hqjs/babel-plugin-transform-paths to remove node_modules should do the trick.

[2020-07-15 18:12] hqjs commented on #20
It's a bit different problem, I'd rather go with a new plugin to keep things simple. It won't be included by default as it is impossible to predict which aliases you will come up with, but should be easy to install and include trough `.babelrc`

[2020-07-15 18:21] Tallyb commented on #20
Sounds good

[2020-07-15 18:52] hqjs commented on #20
Aaand it's done. Let me catch a breath and I'll release it.

[2020-07-15 19:30] hqjs commented on #20
Please give this plugin a try https://github.com/hqjs/babel-plugin-resolve-modules

NOTE: I slightly change the syntax. Details are on the plugin page.

[2020-07-17 07:12] hqjs commented on #20
@Tallyb Did you try it? Does it work for you?

[2020-07-17 17:15] Tallyb commented on #20
@hqjs  - sorry. Did not have the time yet. Will get to it in the coming days.

[2020-07-20 13:03] Tallyb commented on #20
It seems that the problem is in an earlier stage:
[code]

[code]

[code]
however - when looking at the main.ts uploaded in the browser I see :
[code]

[2020-07-20 16:53] hqjs commented on #20
Config is wrong. Try without additional '*'
[code]

[2020-07-20 17:00] hqjs commented on #20
Ah and `/*` won't transform the exact match as it does not end with `/`. I would recommend to add these lines to `resolve` option
[code]
So you will have both exact and pattern transformations.

Alternatively you can achieve the same behaviour with only one patter, but it is much less safe
[code]
It will transform `@shared/stencilA` to `/design-system/stencilA` which might be not what you need.

[2020-07-20 17:17] Tallyb commented on #20
I am not sure this is the plugin that results the error. It seems like the node_modules is added before this plugin. Maybe in the https://www.npmjs.com/package/@hqjs/babel-plugin-transform-paths?

[2020-07-20 17:21] hqjs commented on #20
It is wrong config for sure, your `.babelrc` plugins are the first that are applied. You can find the right config above.

[2020-07-20 17:26] Tallyb commented on #20
Ok, seems to be fixing it. That is cool.
Now to the next errors.
BTW - I think you should add documentation... Happy to help.

[2020-07-20 17:31] hqjs commented on #20
Just let me know if you need a help.

You are very welcome to make a PR for documentation to plugin pages hq README or website.

My idea was that 99% of the time it requires no configuration and for the rest 1% the documentation should be on the plugin side so there is nothing to be documented. But I would be really glad if someone can help to cover all the pitfalls. May be set of examples for pop

[2020-07-20 18:23] Tallyb commented on #20
I think 99% of the time is optimistic. projects come in all shapes and forms, and this is not yet field proven. We are experiencing few more issues.

[2020-07-20 18:24] Tallyb commented on #20
Closing this as the initial problem seems to be solved

[2020-07-20 18:24] #20 closed

[2020-07-20 18:34] Tallyb opened #21 "Cannot read typeAnnotation of undefined."
Error in @hqjs/babel-plugin-add-type-metadata on this line:
https://github.com/hqjs/babel-plugin-add-type-metadata/blob/master/index.js#L11
Injectors may not have typeAnnotation, so it fails

[2020-07-20 19:35] hqjs commented on #21
Are you using Angular? Can you please post a snippet with injector?

[2020-07-20 19:37] hqjs commented on #20
True, yet still many and many projects are just standard React and need no extra tuning. Anyway your help with documentation/examples will be appreciated. And thanks for all the effort, I will try to help as much as I can.

[2020-07-21 03:39] Tallyb commented on #21
[code]
It is not clear from the plugin documentation if it works on constructor parameters or on the class itself.

[2020-07-21 21:45] hqjs commented on #21
Fixed in @hqjs/babel-plugin-add-type-metadata@0.0.4. Just reinstall @hqjs/hq to get latest version of plugins. I will release new hq version eventually with couple of other updates.

It works on constructor parameters, check the example for details.

[2020-07-22 14:37] Tallyb commented on #21
Sadly, this only supports the unknown error. The problem is deeper, since then I get the following error

compiler.map*:2387 Uncaught Error: Can't resolve all parameters for CoreConfig: (?, ?, [object Object]).
    at syntaxError (compiler.map*:2387)

This is resulting from https://github.com/angular/angular/blob/d1ea1f4c7f3358b730b0d94e65b00bc28cae279c/packages/compiler/src/metadata_resolver.ts#L

[2020-07-22 18:40] hqjs commented on #21
It means it expects some type metadata for injection. Angular does not need to be compiled on the server, it can be interpreted on the client. I have working examples for Angular (tour of heroes work without any issues).

Do you have any open minimal project so I can debug it and fix? Will check latest angular with ToH (last tested it with version 8)

[2020-07-22 18:53] hqjs commented on #21
Just tried it with https://github.com/ganatan/angular-example-starter and it works like a charm. I need an example to break it and find the solution.

[2020-07-22 18:54] Tallyb commented on #21
In fact, the code above is using standard angular injectors and a custom one. This can probably be added to the repro of the TOH:

[code]

[2020-07-22 18:57] hqjs commented on #21
How can we derive a type for `platformId` and `config` in this case? What your IDE says?

[2020-07-22 19:11] hqjs commented on #21
I found this example on official documentation
[code]

But as you can see they still provide some typings.

Can you please assist with that issue. I'm not really sure where too look for. My guess is we should specify types for `platformId` and `config` or derive them somehow. I'm not an Angular developer, but would be happy to hack into it again, just need decent example and some guidance/document

[2020-07-23 04:54] Tallyb commented on #21
But the question is - should you assume that type information is always provided? Can this be bypassed when no type info is provided?

[2020-07-23 07:41] hqjs commented on #21
Well, as you can see from the error Angular requires some type metadata to be passed. It is either derived from the code or some kind of `any` is used instead. If I have a working example - I would run it with `hq`, backtrack to the place where this information is passed (I know that there would be `null` for the missed types, but it would help to recognize the place) and then rerun it with angula

[2020-07-27 17:03] hqjs commented on #21
@Tallyb can you please help with the example?

[2020-07-30 09:07] Tallyb commented on #21
Hi,
You can see the error in this repo: https://github.com/Tallyb/hq-angular

[2020-08-14 15:47] Tallyb commented on #21
@hqjs
hi, got a chance to look at it?

[2020-08-15 16:40] hqjs commented on #21
Hey! Not yet. Have very busy time at work, sorry. Will try to check during the week.

[2020-09-07 21:43] Zageron opened #22 "HTTPS/2 Issues"
Do you have a guide on how this works?
I have the certs in the right place, but my browser returns this error when trying to open as https
`An error occurred during a connection to 172.25.7.63:8080. PR_END_OF_FILE_ERROR`

The extension says it should start in https mode automatically, so the Go Live section listing as `http://172.25.7.63:8080/` might be an issue?

Curl
[code]
this error is indicat

[2020-09-07 22:04] Zageron opened #23 "Live Reload, or Rebuild, doesn't work with WSL"
Go Live or `hq` doesn't actually rebuild the project when making changes and saving.

- Is any output supposed to show up after hq announce when saving files? I get no output.

[code]

[2020-09-09 16:53] hqjs commented on #22
Thanks for reporting. That might be some regression that I missed. Command line suppose to show invitation to `https`. I'll take a look.

[2020-09-09 16:56] hqjs commented on #23
You can try to run it like this `hq --verbose` for debugging. Livereload script attaches to `index.html` file. If you don't have it - you can try to install separate Live reload plugin for a browser.

[2020-09-09 16:57] #19 closed

[2020-09-09 17:06] hqjs commented on #22
Found regression during refactoring. Will fix in the next version together with other changes.

[2020-09-09 18:22] hqjs commented on #22
Please check if it is working for you with `@hqjs/hq@0.0.22`. Please note that you can put certificates in any place, server should be able to find them if they are in `.pem` format and key file name should ends with `key.pem`

[2020-09-10 00:50] Zageron commented on #23
So I am running in verbose now, thanks for that. I get all of the outputs on first opening.

My folder structure is effectively:
src
  index.html
  index.ts

- Launch hq, open in browser.
- full set of build stats, etag, and resolves for everything.
- Make a change in index.html or index.ts
- No output from HQ.
- Refresh the webpage.
- All output lists `version 0 - 304 Not Modified`

Here's the re

[2020-09-10 00:52] Zageron commented on #22
This fixed my https woes! Thank you. :)

[2020-09-10 00:52] #22 closed

[2020-09-10 00:58] Zageron commented on #23
![image](https://user-images.githubusercontent.com/1892473/92669273-eaccf080-f2c5-11ea-8066-1532dc63ffb5.png)

[2020-09-10 06:27] hqjs commented on #23
If you have `index.html` it should work out of the box. `hq` listens for fs changes with `chokidar`, if version is not changing - that means change events are being lost. That should be something WSL specific, may be some problems with chokidar.

[2020-09-10 06:37] hqjs commented on #23
Without WSL it works without any problems. I can't test WSL so may be it is worth to post an issue to chokidar repository.

[2020-09-10 19:30] Zageron commented on #23
Yeah so I installed node on windows and switched out of wsl, works now. Interestingly, HTTPS stopped working. (.22)

Anyway I will probably stop fiddling with this and just work on my project. This tool absolutely simplifies everything so I am very pleased. Thanks for making this. :)

[2020-09-21 15:33] hqjs commented on #21
Ok. Since my vacation was ruined I finally found some time to debug an issue. @Tallyb thanks again for posting an example. After some investigation I found that providers metadata should consist of an object with `provide` property equal to a class, not a class itself. by changing it in debugging console I was able to run your example. Let me dive deeper to see how to turn meta into this object, s

[2020-09-21 16:20] hqjs commented on #21
I'm preparing a fix for `@hqjs/babel-plugin-add-decorators-metadata`.

[2020-09-21 16:33] hqjs commented on #21
Before I push anything @Tallyb are you sure it is correct syntax for providers after Angular version 6? Shouldn't it be turned into
[code]

[2020-09-23 16:24] hqjs commented on #21
Fixed in the plugin `https://github.com/hqjs/babel-plugin-add-decorators-metadata`. Just reinstall `hq` to get updated plugin version.

[2020-09-23 16:24] #21 closed

[2020-09-24 18:59] hqjs commented on #18
@layanto finally, I'm ready to release proper support of vue 3. So answering your questions:
1. Vue 3 will be supported in the next release (today/tomorrow)
2. I will check example with vite and prepare something similar for `hq`, but in fact any vue project no matter how you create it should work
3. `.babelrc` is being used during production and development
4. It really depends on your choice of

[2020-09-25 04:55] Zageron opened #24 "Error resolving module specifier in raw tsc --init project"
[code]
typescript 4.0.3
node 12.18.4 or 14.12.0

The most basic of basic typescript projects seem to be broken now. This wasn't broken the last time I was playing with this project.
![image](https://user-images.githubusercontent.com/1892473/94227799-41365380-feb0-11ea-978d-21853c0b3a5f.png)

[2020-09-25 10:09] hqjs commented on #24
Hey! thanks for reporting! It seems like some windows specific error as it expects `/render`, but got `\render` instead. I'll take a look.

[2020-09-25 13:35] hqjs commented on #24
@Zageron can you please give me the output of `hq --verbose` and separate results of requesting `/render.ts` and `/index.ts`?

[2020-09-25 14:45] Zageron commented on #24
Specifically requesting `http://localhost:8080/` and startup.
[code]

Specifically requesting `http://localhost:8080/index.ts`
[code]

Page output for `index.ts`
[code]

Specifically requesting `http://localhost:8080/render.ts`
[code]

Page output for `render.ts`
[code]

When running in WSL it finds and builds everything correctly. (But as in previous issue auto-reload doesn't work).
When running

[2020-09-25 16:20] Zageron commented on #24
Sorry for the small discrepancy in folder layouts, the output is the same for `tinkering` and `scratch` I just created the same project from scratch (no copying) to make sure it wasn't some weird state error.

[2020-09-25 16:37] hqjs commented on #24
Thanks a lot for the detailed logs. Usually just a problem statement is enough, but I have no windows machine so it is much easier with the log in this case. I'm going for vacation tomorrow, will try to find the issue before that. Sorry for inconvenience.

[2020-09-25 20:38] hqjs commented on #24
Ok, I have an assumption that this is connected to path-resolution where `dirname` is calculated. In case if I won't be able to fix it before the vacation - please try to implicitly ask for `http://localhost:8080/index.html`. It might help, but I see the risk it might not work with `node_modules`.

[2020-09-25 20:58] Zageron commented on #24
Unfortunately it made no difference. The output still shows no mention of render.ts. :)

[2020-09-26 14:59] hqjs commented on #24
Hey, can you please test new version `0.0.24` so I will be able to release supplementary VSCode plugin?

[2020-09-26 16:21] Zageron commented on #24
`http://localhost:8081/`
`GEThttp://localhost:8081/`

Identical behaviour at
`http://localhost:8081/index.html`
`http://localhost:8081/render.ts`

[code]

[2020-09-26 17:49] hqjs commented on #24
@Zageron Can you please run node in the project root
[code]
And then execute few lines of code to test how it works on Windows system?
[code]

[2020-09-26 17:51] Zageron commented on #24
[code]

[2020-09-26 17:57] hqjs commented on #24
Thanks a lot! Windows is hard. What if we change it to this lines?
[code]

[2020-09-26 18:06] Zageron commented on #24
[code]

[2020-09-26 18:08] hqjs commented on #24
Bingo! It looks like what we need. I'll add exception for windows and release in couple of minutes.

[2020-09-26 18:26] hqjs commented on #24
Please try `0.0.25`

[2020-09-26 18:37] Zageron commented on #24
`http://localhost:8080/` Fail
`http://localhost:8080/index.html` "Succeed"

Logs in Firefox:
[code]

[code]

[2020-09-26 19:02] hqjs commented on #24
Remote debugging is painful. Hope `0.0.26` will work. I honestly do not understand why it's not working without `index.html`, but let's try and see.

[2020-09-26 19:08] Zageron commented on #24
Hooray.

[code]

[2020-09-26 19:10] Zageron commented on #24
Thanks so much for resolving this for me right before your vacation! :D

[2020-09-26 19:27] #24 closed

[2020-09-27 21:25] Zageron opened #25 "Builds broken on windows"
Likely the same path issue as before. Luckily ubuntu builds still work so I can just build over there. :)

**Ubuntu**

**Windows**

[2020-11-04 11:00] azaeng04 opened #26 "Using a proxy in Angular with hqjs"
Our app currently uses a proxy to connect to backend services.
Is it possible to somehow configure this as part of hqjs?
Cos at the moment I would still need to do a `ng serve -c proxy`

[2020-11-06 18:30] hqjs commented on #26
Thanks for reporting. It is not possible as `hq` was designed not to require any configuration. I will think how to make it possible, probably some external package that does it will help.

[2020-11-07 13:52] hqjs commented on #25
@Zageron can you please try `hq --verbose build` it seems like for windows it can't determine project root in build mode. I still have no windows machine and can't properly debug it. Will appreciate your help.

[2020-11-07 14:59] hqjs commented on #25
@Zageron I tried to hack it, please try `hq@0.0.27`

[2020-11-07 16:15] Zageron commented on #25
If you would be able to write up a quick set of dev instructions on how you have hq set up for debugging, I'd certainly be able to try debugging for future issues as well.
Do you do much beyond having the project linked as a local dependency? I only have limited experience debugging my own dependencies, so some instructions would be appreciated, if possible.

I'll give that version a try a little

[2020-11-07 18:46] hqjs commented on #25
![Uploading Screenshot 2020-11-07 at 20.44.48.png…]()
Thanks! If you have vscode - there is a `launch.json` that allow to run `hq`
and serve `hq` or build `hq`. You can change launch config to serve your project instead and put breakpoints on right in the code. Or you can do npm link and just debug with good old `console.log`.

I've found an error in my workaround and publish `hq@0.0.28`

[2020-11-07 20:30] hqjs commented on #26
@azaeng04 give a try to https://www.npmjs.com/package/http-proxy-cli it seems like what you need, you can run both hq and backend and redirect requests from proxy to both of them.

[2020-11-07 22:22] Zageron commented on #25
Here's my build output. I'll look at debugging in a bit.

Verbose flag seems to be broken now.

[code]

Extra verbose bit
[code]

[2020-11-07 22:38] hqjs commented on #25
Right, verbose won't work with build, it treats it as an argument for build. I have to fix it.

That is super strange that full path is in request path `/L:/git/zageron/tinkering/index.ts`. I'll appreciate help with debugging.

[2020-11-07 23:09] Zageron commented on #25
How do I specify a different project from launch?

[2020-11-07 23:15] hqjs commented on #25
I thin you should specify `cwd` which is absolute path to your project in launch configuration.

[2020-11-07 23:16] hqjs commented on #25
For example
[code]

[2020-11-08 00:07] Zageron commented on #25
Seems to be a problem with:
export const pathToURL = filePath => url.pathToFileURL(filePath).href.slice('file:///'.length).replace(/^[a-zA-Z]:/, '');

[code]

``js
// Result with 2 slashes
        const tempPath0 = urlModule.pathToFileURL(rpath);
        const tempPath1 = tempPath0.href; // 'file:///L:/git/zageron/tinkering/stylesheets/style.scss'
        const tempPath2 = tempPath1.slice('file://

[2020-11-08 10:00] hqjs commented on #25
@Zageron `pathToURL` works in other places. Do you understand why disk letter appears in link paths? `queue` suppose to have all links collected from html, js and css and I have no idea why disk letter appears there. I added `pathToURL` to line `123` of `crawl/index.mjs` as a hack, but I don't understand how filesystem path gets there? Can you please check how `queue` variable changes after `index

[2020-11-08 17:15] Zageron commented on #25
This is what I get on linux:
rpath and fpath are both relative paths: `'stylesheets/style.scss'`
Using the pathToFileUrl function I get this: `'file:///mnt/l/git/zageron/tinkering/stylesheets/style.scss'`

When it finishes it returns:
tfPath = `'/stylesheets/style.css'`
trPath = `'/mnt/l/git/zageron/tinkering/stylesheets/style.scss'`

The queue stuff in htlm.mjs is always the relative path from wh

[2020-11-08 17:24] Zageron commented on #25
Here's a bit of experimentation:
[code]

The result of trPath is correct with this: `'L:\\git\\zageron\\tinkering\\stylesheets\\style.scss'`
But the tfPath is resolving incorrectly: `'L:\\stylesheets\\style.css'`

This is definitely an assumption of similar behaviour between linux and windows. Where `/` is the root of a link in linux, but the drive letter is the root of a link in windows. Not enti

[2020-11-08 18:11] hqjs commented on #25
Thanks! I will remove `urlToPath` - it was bad idea. How drive letter get into a path? It is the link from `index.html` so it should be either relative or absolute from the project root, but not from system root. Can you please check what is the output for `index.html` if you remove `urlToPath`?

[2020-11-08 18:17] hqjs commented on #25
`fPath` represents file path while `rPath` - should be request path.

[2020-11-08 18:43] hqjs commented on #25
Does `queue` in `index.html` on Windows also includes `/stylesheets/style.css`? Or it has drive letter?

[2020-11-08 18:58] Zageron commented on #25
iirc it had no drive letter in queue. Drive letter was only added after calling uriToPath, and/or resolve function.

[2020-11-08 19:56] hqjs commented on #25
In your original post there was no `pathToURL` present, but there was still a drive letter. Can you please remove `pathToURL` or just update to latest and check where this letter appears? It not suppose to be there and that is what cause the problem.

[2020-11-08 20:05] Zageron commented on #25
It's coming from the path.resolve('/', rpath) calls.

[2020-11-08 20:34] hqjs commented on #25
Thanks! That helps a lot! I'll prepare a fix during next week and let you know.

[2020-11-09 02:29] luciotato opened #27 "cant install on ubuntu/kde/node 13"
[code]

[2020-11-09 20:46] hqjs commented on #27
node 13 won't work with sass 5, can you please upgrade to node 14 LTS or downgrade to node 12 LTS?

[2020-11-10 22:40] #27 closed

[2020-11-21 06:20] Zageron commented on #23
This issue is caused by using the windows mounted drives in WSL. This is a known issue.
Easy workaround, clone into ~ instead of /mnt/some/windows/folder

https://github.com/microsoft/WSL/issues/4417

[2020-11-21 07:01] Zageron opened #28 "npm link doesn't function as expected"
[code]

ctx.app.root: '/home/zageron/git/zux'
ctx.dpath: '/node_modules//home/zageron/git/rust/ffrust/pkg/ffrust.js'
ctx.srcPath: '/home/zageron/git/rust/ffrust/pkg/ffrust.js'

Actual path with link: '/home/zageron/git/zux/node_modules/ffrust/ffrust.js'

The path login in HQ is very hard to understand, and I doubt I would be able to resolve this without breaking a lot.

The package.json entry is
[

[2020-11-22 19:19] hqjs commented on #28
Thanks for reporting! Where this section come from
[code]
is it from `browser` field of `package.json`? Link by itself should work, but I did not test it with browser spec

[2020-11-22 20:03] Zageron commented on #28
It's just the package dependencies.
[code]

[2020-11-22 20:48] hqjs commented on #28
Not sure if `resolve` supports such a form. I would appreciate if you can setup minimal example to play with.

[2020-12-05 16:53] hqjs commented on #25
@Zageron I pushed an update to master without release. Can you please test if it fixes the problem with windows build?

[2020-12-05 17:22] hqjs commented on #25
Actually published it as `hq@0.0.30`

[2020-12-19 10:54] #25 closed

[2020-12-19 10:54] hqjs commented on #25
Closed due to inactivity, should be fixed by now

[2020-12-19 10:54] #26 closed

[2020-12-19 10:55] #16 closed

[2020-12-19 10:55] hqjs commented on #16
Closed because of inactivity.

[2020-12-21 18:23] Zageron commented on #25
Thank you apologies for inactivity I've been over in rust land, as well as working and holidaying.

Thanks for resolving this for me!

[2020-12-21 20:12] hqjs commented on #25
No worries, hope it is working, if not feel free to reopen an issue or create a new one. Merry Christmas and happy new year!

[2020-12-24 17:51] stackchain commented on #23
It is cloned into ~ and still not working.

[2021-02-12 19:11] SergeyLitvin opened #30 "Error start"
I start the project.

`<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

  <script src="js/main.js"></script>
</body>
</html>`

main.js
`console.log('test_hq');`

And run command hq

And I get the error
`(intermediate value)(intermediate value)(intermediate value) is not iterable
TypeError: (intermediate value)(intermediate value)(intermediate

[2021-02-13 11:44] hqjs commented on #30
Hey! thanks for reporting. Is it an error you get on a start or after accessing http://localhos:8000? Can you please run the server with `hq --verbose` command and post an output here?

[2021-02-13 11:46] hqjs commented on #30
What browser are you using for development? Seems like it is not something standard.

[2021-02-13 12:10] SergeyLitvin commented on #30
`hq --verbose
(c) hqjs @ 0.0.31
Start time: 0.3 s

Visit http://localhost:8080
or http://192.168.31.160:8080 within local network

| hq root    : C:\Users\Serg\AppData\Roaming\npm\node_modules\@hqjs\hq

| root       : D:\((___PROJECTS___))\MY\test_hq
| src        : .

| certs      :

| babelrc    : undefined
| postcssrc  : undefined
| posthtmlrc : undefined`

https://bit.ly/2N25Q6C

[2021-02-13 12:14] SergeyLitvin commented on #30
If I run http://localhost:8080/ in the Yandex browser I get an error.
If I open in Google Chrome and the project starts well. - https://bit.ly/2Zf3N1C

[2021-02-13 12:16] SergeyLitvin commented on #30
Thanks a lot that helped to understand and launch the project. I will try to use HQ.

[2021-02-13 12:22] hqjs commented on #30
That's actually a good idea to start supporting Yandex browser as well as treating all unknown browsers as some basic version of chrome. Don't hesitate to contact me if you'll experience any problems. You might be interested in https://pkg.hqjs.org it is demo installation (and might disappear once in a while as it is running on a very low end machine), but local installation is also possible to he

[2021-02-13 17:15] SergeyLitvin commented on #30
Please tell me if the automatic restart of the browser should work after saving the files in the editor?

`
$ hq --verbose
(c) hqjs @ 0.0.31
Start time: 0.5 s

Visit http://localhost:8080
or http://192.168.31.160:8080 within local network

| hq root    : C:\Users\Serg\AppData\Roaming\npm\node_modules\@hqjs\hq

| root       : D:\((___PROJECTS___))\MY\test_hq
| src        : .

| certs      :

| babe

[2021-02-13 18:02] hqjs commented on #30
Live reload should work. Can you please describe in more details what is the use case? Are you saving several files at once or one by one?

[2021-03-23 12:16] Venryx opened #31 "Lack of documentation"
I know the website says "Looking for documentation? You don't need it!", but this is just not acceptable for many readers (including myself).

While the first steps of trying out hq may indeed not require documentation, it's still important to have available for the people who want to understand the overall design of the system, for them to evaluate whether it's designed well.

As it stands, even

[2021-04-12 18:30] yuri-karadzhov commented on #31
The website also answers your questions in the paragraphs above. It says why hq was created (way before snowpack) - to avoid bundling and speed up development, and how it is architectured - checks file extension and user agent to determine your browser capabilities, then use babel, postcss and posthtml to compile code on the fly. It also states the main philosophy - not to create another tool but

[2021-04-12 20:46] Venryx commented on #31
I've read that, but it doesn't go into enough detail for me to properly assess its design quality and compare it with the other tools.

To be clear, I'm not saying the tool is unusable as it stands, just making the note that additional documentation will open it up to a wider potential userbase (ie. people who see a lack of documentation as an issue).

(If you're one of the maintainers, feel free

[2021-04-12 20:56] yuri-karadzhov commented on #31
Thanks for the advice. It might worth to add a diagram of the request and may be some more details on standard plugins being used and transformation that are made (these info is being spread between plugins and require some effort to find). A copy-paste examples might be handy as well.

The biggest problem of this tool is lack of PR comparing to snowpack and others who scream very loud and state t

[2021-04-12 20:58] #31 closed, assigned to nobody

[2022-03-22 17:47] #23 closed

[2022-03-22 17:47] #28 closed